/* cssRest */
body{
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}
ul{
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
p{
	margin-top:0;
	margin-bottom: 0;
}
.clearfix:after{
	content: '';
	display:block;
	clear: both;
}